<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div ng-show="false" class="user-panel">
            <div class="pull-left info">

            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENÚ PRINCIPAL</li>
            <li ui-sref-active="active">
                <a ui-sref="app.tarjeta_basica">
                    <i class="fa fa-book"></i> <span>Solicitud tarjeta básica</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tarjeta_basicat">
                    <i class="fa fa-book"></i> <span>Solicitud tarjeta básica 2</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.consulta_tarjetas">
                    <i class="fa fa-book"></i> <span>Consulta tarjetas</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.consulta_tarjetas_grid">
                    <i class="fa fa-book"></i> <span>Consulta tarjetas grid</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.graficas">
                    <i class="fa fa-book"></i><span>Gráficas</span>
                </a>
            </li>
              <li ui-sref-active="active">
                <a ui-sref="app.paginax">
                    <i class="fa fa-book"></i><span>Página sin permiso</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>