<div class="content-wrapper">
    <div ui-view>
        <section class="content-header">
            <h4>
                Consulta de tarjetas grid
            </h4>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-ios-paper-outline"></i>
                            <h3 class="box-title">Tarjetas capturadas</h3>
                        </div>
                        <div class="box-body">
                           <div ui-grid="gridOptions" ui-grid-pagination class="myGrid" ui-grid-resize-columns="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
